<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style.css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
            function dt(str) {
                let utc_epoch = Date.parse(str);
                let time = new Date();
                time.setTime(utc_epoch);
                return time.toLocaleString();
            }

            document.addEventListener("DOMContentLoaded", function(){
                document.getElementById('fd_fc_last_update').innerHTML = dt("{{ fd_fc_dt }}");
                document.getElementById('fd_last_update').innerHTML = dt("{{ fd_dt }}");
            });
        </script>
    </head>
    <body>
        {% include "nav.html" %} 
        <div class="container-fluid">
            <center>
            <h1>GOES 18 live reception and METAR search!</h1>
            </center>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <center>
                    <h1>Latest FD FC image</h1>
                    <h3 id="fd_fc_last_update"></h3>
                    <img class="img-responsive" src="/assets/{{ fd_fc }}" alt="Latest FD FC image">
                </center>
            </div>
            <div class="col-sm-6">
                <center>
                    <h1>Latest FD image</h1>
                    <h3 id="fd_last_update"></h3>
                    <img class="img-responsive" src="/assets/{{ fd }}" alt="Latest FD image">
                </center>
            </div>
        </div>
    </body>
</html>
