<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        {% include "nav.html" %} 
        <div style="width: 100%;">
            <div style="width: 50%; height: 100px; float: left; background: green;">
                <img src="{{ fd }}" alt="Latest full disk image">
            </div>
            <div style="margin-left: 50%; height: 100px; background: blue;">
                <img src="{{ mesoscale1 }}" alt="Latest mesoscale 1 image">
            </div>
        </div>
    </body>
</html>
