<nav class="navbar navbar-inverse navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/index.html">GOES</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/latest/fd.html">Latest</a></li>
        <li><a href="/search/img.html">Search Images</a></li>
        <li><a href="mesoscale.html">Mesoscale</a></li>
        <li><a href="METAR.html">METARS</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </div>
</nav>
