[Unit]
Description=Automatic parsing of EMWIN files
AssertPathExists=/usr/bin/emwind
Requires=goesproc.service

[Service]
Type=simple
WorkingDirectory=~
ExecStart=/usr/bin/emwind
Restart=always
PrivateTmp=true
NoNewPrivileges=true
User=goesguy
Group=goesguy
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=default.target
