[Unit]
Description=Preprocessing of decoded GOES data
AssertPathExists=/usr/local/bin/goesproc

[Service]
Type=simple
WorkingDirectory=~
ExecStart=/usr/local/goesproc -c ~/goesproc.conf -m packet  --subscribe tcp://10.0.0.20:5004
Restart=always
PrivateTmp=true
NoNewPrivileges=true
User=goesguy
Group=goesguy
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=default.target emwind.service
