[Unit]
Description=Automatic parsing of EMWIN file
AssertPathExists=/usr/bin/emwind

[Service]
Type=simple
WorkingDirectory=~
ExecStart=/usr/bin/emwind
Restart=always
PrivateTmp=true
NoNewPrivileges=true
User=goesguy
Group=goesguy

[Install]
WantedBy=default.target
